ipch
.vs
*.db
*.opendb
*.aps
*.user
/OpenVR-SpaceCalibrator/x64/
/OpenVR-SpaceCalibratorDriver/x64/
/x64/
/lib/boost*
*.o
*.a
*.srctrlprj
*.srctrldb
*.srctrlbm
*.out
OpenVR-SpaceCalibratorDriver/01spacecalibrator/bin/linux64/
build
*.gitignore
*.py
usr/
