[submodule "OpenVR-SpaceCalibrator/gl3w"]
	path = OpenVR-SpaceCalibrator/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "modules/gl3w"]
	path = modules/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
